<!DOCTYPE html>
<html lang="en" ng-app="app" class="no-js">
<head>
    <!-- Meta tags and title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer_Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container mt-5">
    <nav class="amazon-navbar">
        <div class="amazon-logo">
          <a href="#/index.html">
          <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/177941a2-e16a-4f57-b0c5-c62b7e5e163b-profile_image-300x300.png" style="height: 40px; width: 40px;">
        </a>  
          <i class="fab fa-amazon"></i>MatriX
        </div>
      
        <ul class="menu-list">
            <li><a href="#/users">Update Profile</a></li> 
            <li><a href="#/profile">View Profile</a></li>
            <li><a href="#/yourProfile">View Your Profile</a></li>
            <li><a href="#viewProducts">View Products</a></li>
            <li><a href="#feedback">Feedback Form</a></li>
            <li><a href="/">Log Out</a></li>
        </ul>
    </nav>
</div>
<!-- <button class="btn btn-primary" ng-click="goToProductList()">View Products</button> -->
</div>
<div ng-view></div>

<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</main>
</body>
</html>
