<!DOCTYPE html>
<html ng-app="loginApp">
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="login.js"></script>
</head>
<body  ng-app="checkEmailApp" ng-controller="rolesController">
  <div  class="container">
    <h2>Login Form</h2>
    <form ng-submit="login()">
      <div class="form-group">
        <label for="email">Username:</label>
      
        <input type="text" class="form-control" ng-model="users.email" placeholder="Enter your email" required>

		<span id="emailError" class="error"></span>

      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" ng-model="users.password" placeholder="Enter your password" required>
		<span id="passwordError" class="error"></span>
    </div>
      <!-- <button type="submit" class="btn btn-primary" ng-click="checkEmail()">Login</button>
      <p ng-show="emailExists !== null">
        {{ emailExists ? 'Email Exists':'Email is new'}}
        </p> -->
      
        
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>
</html>