.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}
/* Add this CSS to style the navigation bar */
.home-section {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .menu-list li a:hover {
    background-color: #ddd;
  }